
*.old   
*.bak   
*.BAK   
*.orig  
*.rej   
.del-* 
*.a     
*.olb   
*.o     
*.obj   
*.so 
*.Z     
*.elc   
*.ln 
*.magikc 
*.msf 
*.msgc 
*.def# 
*.def~  
*.mf 
*.magik~ 
*~ *# 
*.txt~
*~
*magik#
libs/**
product.ser
*.jar